<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, class: "label" %>
    <%= form.text_field :username, method: "get", class: "input", type: "text" %>
  </div>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, method: "get", class: "input", type: "text" %>
  </div>

  <div class="field">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, method: "get", class:"input", type:"password"  %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, class: "label" %>
    <%= form.password_field :password_confirmation, method: "get", class:"input", type:"password"  %>
  </div>
  <div class="field is-grouped is-grouped-centered">
    <div class="actions">
      <%= submit_tag "Sign up", method: "get", class: "button is-primary"  %>
    </div>
  </div>
<% end %>
