<div id="menuToggle">
    <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
                            
        <ul id="menu">
            <li><%= link_to 'New Challenge', new_challenge_path %></li>
            <li><%= link_to 'Home', root_path %></li>
            <% if current_user %>
                <li><%= link_to 'My Challenges', my_challenges_challenges_path %></li>
                <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
                <li><%= link_to "Sign Up", signup_path %> or
                <%= link_to "Log In", login_path %></li>
            <% end %>
        </ul>
</div>
<header class="header">
            <div class="header_item"><%= link_to 'New Challenge', new_challenge_path %></div>
            <div class="header_item"><%= link_to 'Home', root_path %></div>
            <% if current_user %>
                <div class="header_item"><%= link_to 'My Challenges', my_challenges_challenges_path %></div>
                <div class="header_item"> Logged in as <b class="highlight"><%= current_user.username %></b>.
                <%= link_to "Log Out", logout_path %></div>
            <% else %>
                <div class="header_item"><%= link_to "Sign Up", signup_path %> or
                <%= link_to "Log In", login_path %></div>
            <% end %> 
</header>

<% #TODO Refactor mutiple files%>