<div class='nested-fields'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>


    <div class="field">
        <%= form.label :title, class: "label" %>
        <%= form.text_field :title, placeholder: 'Title', class: 'form-control', method: "get", class: "input", type: "text"  %>
    </div>
    <div class="field">
        <%= form.label :description, class: "label" %>
        <%= form.text_field :description, placeholder: 'Description', class: 'form-control', method: "get", class: "textarea", type: "text"  %>
    </div>
    <div class="field">
        <%= form.label :goal, class: "label" %>
        <%= form.number_field :goal, placeholder: 'Goal', class: 'form-control', method: "get", class: "input", type: "text"  %>
    </div>
    <div class="field">
        <%= form.label :unit, class: "label" %>    
        <%= form.text_field :unit, placeholder: 'km', class: 'form-control', method: "get", class: "input", type: "text"  %>
    </div>


    <small>
      <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
    </small>
  </div>
</div>