<div class="newchallange__activity">

<div class='nested-fields'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>

    <div>
      <div class="field">
          <%= form.label :title, class: "label" %>
          <%= form.text_field :title, placeholder: 'Activity title', class: 'form-control', method: "get", class: "input", type: "text", data: {autocomplete_source: challenges_path}  %>
        <datalist id="activities">

                <option value="U.S.">
                <option value="France">
                <option value="China">
                <option value="Cambodia">
                <option value="Chile">
                <option value="Canada">
                <option value="Poland">

              </datalist>
      </div>
      <div class="field">
          <%= form.label :description, class: "label" %>
          <%# <textarea class="textarea" placeholder="e.g. Hello world"></textarea> %>
          <%= form.text_area :description, placeholder: 'Activity description', class: 'form-control', method: "get", class: "textarea", type: "text"  %>
      </div>
      
      <div class="columns">
        <div class="column">
          <div class="field">
            <%= form.label :goal, class: "label" %>
            <%= form.number_field :goal, placeholder: 'Goal', class: 'form-control', method: "get", class: "input", type: "text"  %>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <%= form.label :unit, class: "label" %>    
            <%= form.text_field :unit, placeholder: 'p.e. km', class: 'form-control', method: "get", class: "input", type: "text"  %>
          </div>
        </div>
      </div>
    </div>

    <div class="remove">
      <%= link_to "-", "#", data: { action: "click->nested-form#remove_association" }, class: "button is-danger symbol" %>
    </div>

  </div>
      <hr>

</div>


</div>