<div class="blurr">
  <div class="columns is-multiline is-centered">
   <% @challenges.each do |challenge| %>

      <div class="column is-half challengeWrapper">

        <div class="challengeContainer">
        <%= link_to(challenge, class: "challenge_img")  do%>
          <div class="challenge_img" style="background-image: url(<%= challenge.avatar.attached? ? rails_blob_path(challenge.avatar) : asset_path('logo.png') %>)"></div>
        <% end %>
         <%= link_to(challenge, class: "challenge_title") do%>
            <h2 class="subtitle"><%= challenge.title %></h2>
         <% end %>
         <%= link_to(challenge, class: "challenge_descp") do%>
            <p><%= challenge.description %></p>
         <% end%>
          <%# <%= link_to(challenge, class: "challenge_button") do%>
              <%# <p>...Learn More</p> %>
          <%# <% end%>
          </div>
          

      </div>

    <% end %>
  </div>
</div>