<%= javascript_pack_tag 'barChart' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<% @activities.each_with_index do |activity, i| %>
<br /> <br />
  <strong>Activity:</strong>
  <%= activity.title %><br />
  <%= activity.description %><br />
  <%= @activities_amount[i] %><br />
  <div id="container-<%= i %>"></div>
  <%= javascript_tag "insertBar('#{activity.title}', #{@activities_amount[i]}, #{i})" %>
  <% if current_user && is_member %>
    <%= link_to 'Contribute', new_entry_path(activity_id: activity.id) %>
  <% end %>
<% end %>

<% if is_owner %>
<%= link_to 'Manage members', show_owner_challenge_path %>
<% end %>
<br />

<%= link_to 'Back', challenges_path %>
<% unless is_candidate %>
  <%= link_to 'Join', request_membership_challenge_path %>
<% end %>
