<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<% @activities.each_with_index do |activity, i| %>
<br /> <br />
  <strong>Activity:</strong>
  <%= activity.title %><br />
  <%= activity.description %><br />
  <%= @activities_amount[i] %><br />
  <%= link_to 'Contribute', new_entry_path(activity_id: activity.id) %>

<% end %>

<% if current_user == @challenge.owner %>
<%= link_to 'Manage members', show_owner_challenge_path %>
<% end %>
<br />

<%= link_to 'Back', challenges_path %>
<%# TODO nur anzeigen wenn noch keine request %>
<% if !@request_exists %>
  <%= link_to 'Join', request_membership_challenge_path %>
<% end %>
