<%= javascript_pack_tag 'barChart' %>
<p id="notice"><%= notice %></p>
<section class="hero"></section>
<section class="show-header">
  <div>
    <h1 class="title"><%= @challenge.title %></h1>
    <h2 class="subtitle"><%= @challenge.description %></h2>
  </div>
  <div>
    <% if is_owner %>
      <%= button_to 'Manage Challenge', show_owner_challenge_path, method: 'get', class: 'button is-warning is-outlined button-transition' %>
    <% end %>
    <% unless is_candidate %>
      <%= button_to 'Join Challenge', request_membership_challenge_path, method: 'get', class: 'button is-warning is-outlined button-transition' %>
    <% end %>
  </div>
</section>
<section class="show-container">
  <section class="activities">
    <% @activities.each_with_index do |activity, i| %>
      <article class="columns is-mobile">
        <div class="column is-one-fifth activity">
          <h3 class="subtitle"><%= activity.title %></h3>
          <p class="description"><%= activity.description %></p>
          <% if current_user && is_member %>
            <%= button_to 'Contribute', new_entry_path, params: { activity_id: activity.id }, method: 'get', class: 'button is-primary button-transition'%>
          <% end %>
        </div>
        <div id="container-<%= i %>" class="column">
          <div class="progressbar">
            <p></p>
            <p><%= "#{(@activities_amount[i] * activity.goal).to_i} #{activity.unit}" %></p>
            <p><%= "#{activity.goal} #{activity.unit}" %></p>
          </div>
        </div>
        <%= javascript_tag "insertBar('#{(@activities_amount[i] * activity.goal).to_i}', #{@activities_amount[i]}, #{i})" %>
      </article>
    <% end %>
  </section>
</section>