<!DOCTYPE html>
<html>
  <head>
    <title>Mmp2b</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">

  </head>

  <body>
  <%= render "challenges/header" %>
  <div class="pushdown">
    <%= yield %>
  </div>
  <%= render "challenges/footer" %>
  </body>
</html>
